@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #121214;
  --color-border: #1f1f23;
  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;
  --color-text-main: #ffffff;
  --color-text-muted: #a1a1aa;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}